*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'M';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
body{
    background-color: #FA403E;
}
#container{
}
#disppai{
    display: flex;
    justify-content: center;
    background-color: #000000;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 20px;
}
#disp{
    font-size: 25px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
    display: flex;
}
p.videod{
    font-size: 20px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
#confpai{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#conf{
    width: 440px;
}
#h3pai{
    padding: 20px;
}
h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
    font-family: "M";

}
h3.cor{
    text-align: center;
    color: #FAFA57;
    font-weight: bold;
    font-size: 40px;
    font-family: "M";
}
#som{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}
#img{
    width: 32px;
    margin-right: 10px;
}
#ps{
    color: rgb(255, 255, 255);
    font-size: 20px;
    /*border: 1px solid red;*/
}
#videopai{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#video{
    aspect-ratio: calc(16 / 9);
    width: 1095px;
    border-radius: 20px;
}
#atencaoo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#imgaten{
    min-width: 200px;
}
#botaopai{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
}
#botao{
    background-color: white;
    text-decoration: none;
    color: #FA403E;
    padding: 20px 20px;
    font-size: 30px;
    font-family: "M";
    border-radius: 16px;
    display: none;
    font-weight: bold;
    margin-bottom: 40px;
    width: 60%;
}
p.vagasl{
    font-size: 24px;
    font-weight: bold;
    font-family: "M";
    color: #FA403E;
}
#provapai{
    display: flex;
    justify-content: initial;
    max-width: 1100px;
    background-color: #ffffff;
    margin: 0px auto;
    flex-direction: column;
    padding: 26px;
}
#comentariopai{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: initial;
    margin: 20px;
}
.bloco{
    display: flex;
    width: 100%;
    margin-bottom: 26px;
    flex-direction: row;
}
.imgc{
    width: 60px;
    height: 60px;
}
.prov{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.nome{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #365899;
}
.comentario{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: initial;
    margin: 6px 0px;
}
.like{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
#titlebbpai{
    display: none;
}
.titlebb{
    color: #ffffff;
    background-color: #FA403E;
    padding: 20px;
}
#beneficios{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FA403E;
    display: none;
}
.conteudo1{
    background-color: white;
    max-width: 240px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgb{
    width: 180px;
}
.benefi{
    color: #FA403E;
    font-size: 20px;
    margin-bottom: 10px;
}
.benef{
    color: #FA403E;
    font-size: 16px;
}
#logodes{
    background-color: white;
    padding: 20px;
    display: none;
}
#agrupar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 600px;
    margin: 0px auto;
}
#imgd{
    width: 133.3px;
    height: 133.3px;
}
#des{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#de{
    color: #FA403E;
    margin-bottom: 14px;
}
#d{
    color: #000000;
}
.titledd{
    color: #ffffff;
    background-color: #FA403E;
    padding: 20px;
    display: none;
}
#descobrir{
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FA403E;
    display: none;
}
.conteudo2{
    background-color: #ffffff;
    max-width: 240px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desco{
    color: #FA403E;
    font-size: 20px;
    margin-bottom: 10px;
}
.desc{
    color: #FA403E;
    font-size: 16px;
}
#pitch{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    display: none;
}
#imgpi{
    max-width: 600px;
    min-width: 200px;
}
#botaopai2{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
    background-color: #ffffff;
    display: none;
}
#botao2{
    background-color: #FA403E;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 20px;
    font-size: 30px;
    font-family: "M";
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 60%;
}
p.vagasl2{
    font-size: 24px;
    font-weight: bold;
    font-family: "M";
    color: #ffffff;
}
#garantia{
    background-color: #FA403E;
    padding: 20px;
    display: none;
} 
#garant{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0px auto;
}
#imggg{
    margin-right: 18px;
    width: 200px;
}
#garan{

}
#perguntas{
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.titleppp{
    color:#FA403E;
    margin-bottom: 18px;
}
.pergunt{
    color: #FA403E;
    font-family: "M";
    font-weight: bold;
    border: 2px solid #FA403E;
    padding: 18px;
    margin: 0px auto;
    width: 70%;
}
.pergun{
    font-size: 20px;
}
.pergu{
    color: #FA403E;
    margin-top: 10px;
    font-size: 18px;
}
#rodape2{
    display: flex;
    justify-content: center;
    background-color: #3D3D3D;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}
.roda{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
}
.rod{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}
#rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#termo{
    font-size: 16px;
    font-family: "M";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 10px;
}
#privacidade{
    font-size: 16px;
    font-family: "M";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 10px;
}
p.barra{
    font-size: 12px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
p{
    font-size: 16px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 768px) {
    #container{
    }
    #disppai{
        display: flex;
        justify-content: center;
        background-color: #000000;
        flex-direction: row;
        padding: 13.3px;
        margin-bottom: 13.3px;
    }
    #disp{
        font-size: 16.6px;
        font-weight: bold;
        font-family: "M";
        color: rgb(255, 255, 255);
        display: flex;
    }
    p.videod{
        font-size: 13.3px;
        font-weight: bold;
        font-family: "M";
        color: rgb(255, 255, 255);
    }
    #confpai{
        display: flex;
        justify-content: center;
        margin-bottom: 13.3px;
    }
    #conf{
        width: 240px;

    }
    #h3pai{
        padding: 13.3px;
    }
    h3{
        text-align: center;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 26.6px;
        font-family: "M";
    
    }
    h3.cor{
        text-align: center;
        color: #FAFA57;
        font-weight: bold;
        font-size: 26.6px;
        font-family: "M";
    }
    #som{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5.3px 0px;
    }
    #img{
        width: 21.3px;
        margin-right: 6.6px;
    }
    #ps{
        color: rgb(255, 255, 255);
        font-size: 13.3px;
        /*border: 1px solid red;*/
    }
    #videopai{
        display: flex;
        justify-content: center;
        margin-bottom: 13.3px;
    }
    #video{
        aspect-ratio: calc(16 / 9);
        width: 1095px;
        border-radius: 13.3px;
    }
    #atencaoo{
        display: flex;
        justify-content: center;
        margin-bottom: 13.3px;
    }
    #imgaten{
        min-width: 200px;
    }
    #botaopai{
        display: flex;
        justify-content: center;
        margin: 0px auto;
        text-align: center;
    }
    #botao{
        background-color: white;
        text-decoration: none;
        color: #FA403E;
        padding: 13.3px;
        font-size: 20px;
        font-family: "M";
        border-radius: 10.6px;
        display: none;
        font-weight: bold;
        margin-bottom: 26.6px;
        width: 60%;
    }
    p.vagasl{
        font-size: 16px;
        font-weight: bold;
        font-family: "M";
        color: #FA403E;
    }
    #provapai{
        display: flex;
        justify-content: initial;
        max-width: 1100px;
        background-color: #ffffff;
        margin: 0px auto;
        flex-direction: column;
        padding: 17.3px;
    }
    #comentariopai{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-weight: initial;
        margin: 13.3px;
    }
    .bloco{
        display: flex;
        width: 100%;
        margin-bottom: 17.3px;
        flex-direction: row;
    }
    .imgc{
        width: 40px;
        height: 40px;
    }
    .prov{
        display: flex;
        flex-direction: column;
        margin-left: 13.3px;
    }
    .nome{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #365899;
    }
    .comentario{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000000;
        font-weight: initial;
        margin: 4px 0px;
    }
    .like{
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #666666;
    }
    #titlebbpai{
        display: none;
    }
    .titlebb{
        color: #ffffff;
        background-color: #FA403E;
        padding: 13.3px;
    }
    #beneficios{
        display: flex;
        justify-content: center;
        padding: 20px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 13.3px;
        background-color: #FA403E;
        display: none;
    }
    .conteudo1{
        background-color: white;
        max-width: 240px;
        padding: 20px;
        border-radius: 13.3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgb{
        width: 120px;
    }
    .benefi{
        color: #FA403E;
        font-size: 13.3px;
        margin-bottom: 6.6px;
    }
    .benef{
        color: #FA403E;
        font-size: 13.3px;
    }
    #logodes{
        background-color: white;
        padding: 13.3px;
        display: none;
    }
    #agrupar{
        display: flex;
        justify-content: center;
        flex-direction: row;
        max-width: 600px;
        margin: 0px auto;
    }
    #imgd{
        width: 133.3px;
        height: 133.3px;
    }
    #des{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #de{
        color: #FA403E;
        margin-bottom: 9.3px;
        font-size: 13.3px;
    }
    #d{
        color: #000000;
        font-size: 13.3px;
    }
    .titledd{
        color: #ffffff;
        background-color: #FA403E;
        padding: 13.3px;
        display: none;
    }
    #descobrir{
        display: flex;
        justify-content: center;
        padding: 20px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 13.3px;
        background-color: #FA403E;
        display: none;
    }
    .conteudo2{
        background-color: #ffffff;
        max-width: 240px;
        padding: 20px;
        border-radius: 13.3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .desco{
        color: #FA403E;
        font-size: 13.3px;
        margin-bottom: 6.6px;
    }
    .desc{
        color: #FA403E;
        font-size: 13.3px;
    }
    #pitch{
        display: flex;
        justify-content: center;
        background-color: #ffffff;
        display: none;
    }
    #imgpi{
        max-width: 600px;
        min-width: 200px;
    }
    #botaopai2{
        display: flex;
        justify-content: center;
        margin: 0px auto;
        text-align: center;
        background-color: #ffffff;
    }
    #botao2{
        background-color: #FA403E;
        text-decoration: none;
        color: #ffffff;
        padding: 13.3px;
        font-size: 20px;
        font-family: "M";
        border-radius: 10.6px;
        font-weight: bold;
        margin-bottom: 26.6px;
        width: 60%;
        display: none;
    }
    p.vagasl2{
        font-size: 16px;
        font-weight: bold;
        font-family: "M";
        color: #ffffff;
    }
    #garantia{
        background-color: #FA403E;
        padding: 13.3px;
        display: none;
    } 
    #garant{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        margin: 0px auto;
    }
    #imggg{
        margin-right: 12px;
        width: 133.3px;
    }
    #garan{
        font-size: 13.3px;
    }
    #perguntas{
        background-color: #ffffff;
        padding: 26.6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .titleppp{
        color:#FA403E;
        margin-bottom: 12px;
    }
    .pergunt{
        color: #FA403E;
        font-family: "M";
        font-weight: bold;
        border: 1.3px solid #FA403E;
        padding: 12px;
        margin: 0px auto;
        width: 70%;
    }
    .pergun{
        font-size: 13.3px;
    }
    .pergu{
        color: #FA403E;
        margin-top: 6.6px;
        font-size: 13.3px;
    }
    #rodape2{
        display: flex;
        justify-content: center;
        background-color: #3D3D3D;
        padding: 13.3px;
        flex-direction: column;
        align-items: center;
    }
    .roda{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: initial;
        font-size: 10.6px;
        margin-bottom: 16.6px;
        text-align: center;
    }
    .rod{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: initial;
        font-size: 10.6px;
        margin-bottom: 6.6px;
        text-align: center;
    }
    #rodape{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    #termo{
        font-size: 10.6px;
        font-family: "M";
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-right: 6.6px;
    }
    #privacidade{
        font-size: 10.6px;
        font-family: "M";
        color: rgb(255, 255, 255);
        font-weight: bold;
        margin-left: 6.6px;
    }
    p.barra{
        font-size: 8px;
        font-weight: bold;
        font-family: "M";
        color: rgb(255, 255, 255);
    }
    p{
        font-size: 10.6px;
        font-weight: bold;
        font-family: "M";
        color: rgb(255, 255, 255);
    }
}/*divisao por 1,5 */