*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'M';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
#container{
}
#bloco{
    display: flex;
    background-color: #FA403E;
    flex-direction: column;
    padding: 60px;
    margin: 0px auto;
    text-align: center;
}
.tudo{
    font-family: "M";
    font-size: 60px;
    margin-bottom: 20px;
}
.cliq{
    font-family: "M";
    font-size: 30px;
    margin-bottom: 20px;
}
.botao{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:#FAFA57;
    padding: 20px;
    font-size: 30px;
    font-family: "M";
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
#rodape2{
    display: flex;
    justify-content: center;
    background-color: #3D3D3D;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
.roda{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
}
.rod{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}
#rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#termo{
    font-size: 16px;
    font-family: "M";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 10px;
}
#privacidade{
    font-size: 16px;
    font-family: "M";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 10px;
}
p.barra{
    font-size: 12px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
p{
    font-size: 16px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 768px) {
#container{
}
#bloco{
    display: flex;
    background-color: #FA403E;
    flex-direction: column;
    padding: 40px;
    margin: 0px auto;
    text-align: center;
}
.tudo{
    font-family: "M";
    font-size: 40px;
    margin-bottom: 13.3px;
}
.cliq{
    font-family: "M";
    font-size: 20px;
    margin-bottom: 13.3px;
    }
.botao{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color:#FAFA57;
    padding: 13.3px;
    font-size: 20px;
    font-family: "M";
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 13.3px;
}    
#rodape2{
    display: flex;
    justify-content: center;
    background-color: #3D3D3D;
    padding: 13.3px;
    flex-direction: column;
    align-items: center;
}
.roda{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 12px;
    margin-bottom: 16.6px;
    text-align: center;
}
.rod{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    font-size: 12px;
    margin-bottom: 6.6px;
    text-align: center;
}
#rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#termo{
    font-size: 12px;
    font-family: "M";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 6.6px;
}
#privacidade{
    font-size: 12px;
    font-family: "M";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 6.6px;
}
p.barra{
    font-size: 12px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
p{
    font-size: 12px;
    font-weight: bold;
    font-family: "M";
    color: rgb(255, 255, 255);
}
}